In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import LSTM, Dense, Dropout
from keras.models import Sequential
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [2]:
df=pd.read_csv("C:/Users/denem/OneDrive/Belgeler/AI/PRSA_Data_Nongzhanguan_20130301-20170228.csv")

In [3]:
df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,5.0,14.0,4.0,12.0,200.0,85.0,-0.5,1024.5,-21.4,0.0,NNW,5.7,Nongzhanguan
1,2,2013,3,1,1,8.0,12.0,6.0,14.0,200.0,84.0,-0.7,1025.1,-22.1,0.0,NW,3.9,Nongzhanguan
2,3,2013,3,1,2,3.0,6.0,5.0,14.0,200.0,83.0,-1.2,1025.3,-24.6,0.0,NNW,5.3,Nongzhanguan
3,4,2013,3,1,3,5.0,5.0,5.0,14.0,200.0,84.0,-1.4,1026.2,-25.5,0.0,N,4.9,Nongzhanguan
4,5,2013,3,1,4,5.0,5.0,6.0,21.0,200.0,77.0,-1.9,1027.1,-24.5,0.0,NNW,3.2,Nongzhanguan

In [4]:
df.isnull().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       628
PM10        440
SO2         446
NO2         692
CO         1206
O3          506
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           78
WSPM         14
station       0
dtype: int64

In [6]:
len(df)

35064

In [10]:
def clean_limit(df_column, low_limit, up_limit=None):
    if up_limit is None:
        filtered = df_column[(df_column >= low_limit)]
        
    else:
        filtered = df_column.loc[(df_column >= low_limit) & (df_column <= up_limit)]
    return filtered

In [51]:
df_x=clean_limit(df["xVRMS"],low_limit=0.5)

In [52]:
type(df_x),len(df_x)

(pandas.core.series.Series, 57455)

In [53]:
slct_df = df.loc[df_x.index]

In [54]:
len(slct_df)

57455

In [55]:
slct_df.head()

                       xVRMS    yVRMS    zVRMS      temp    newCF
time
2022-06-26 21:35:00  7.53931  4.94363  2.89816  48.95334  3.84012
2022-06-26 21:40:00  7.36773  4.82611  2.85156  49.05156  4.20228
2022-06-26 21:45:00  7.18102  4.84723  2.85830  48.84285  4.10223
2022-06-26 21:50:00  7.28957  4.86776  2.87858  48.89196  4.06978
2022-06-26 21:55:00  7.10303  4.77624  2.82860  48.79374  4.06219

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import LSTM, Dense, Dropout
from keras.models import Sequential
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

df=pd.read_csv("C:/Users/denem/OneDrive/Belgeler/AI/holidays_events.csv")

df.head()

df["cf"]=df["cf"].fillna(0)
df["maxCf"]=df["maxCf"].fillna(0)

df["cf"].isnull().sum()
df["maxCf"].isnull().sum()

df["newCF"]=df["cf"]+df["maxCf"]

df.isnull().sum()

del(df["cf"])
del(df["maxCf"])

len(df)

def clean_limit(df_column, low_limit, up_limit=None):
    if up_limit is None:
        filtered = df_column[(df_column >= low_limit)]
        
    else:
        filtered = df_column.loc[(df_column >= low_limit) & (df_column <= up_limit)]
    return filtered

df_x=clean_limit(df["xVRMS"],low_limit=0.5)

type(df_x),len(df_x)

slct_df = df.loc[df_x.index]


len(slct_df)

slct_df.head()